camlcode.o.startup.s
*.cm[ixoa]
*.o
qocamlbrowser
# C++
.moc
.pch
.obj
qrc_*.cpp
#folderlistmodel stuff
Qt/
folderlistmodel/libqmlfolderlistmodelplugin.prl
folderlistmodel/libqmlfolderlistmodelplugin.so*
# editor files
*~
